@font-face {
  font-family: montserrat;
  src:
    local('Montserrat-Bold'),
    url('fonts/Montserrat-Bold.woff2') format('woff2'),
    url('fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: var(--font-display);
}

@font-face {
  font-family: montserrat;
  src:
    local('Montserrat-Medium'),
    url('fonts/Montserrat-Medium.woff2') format('woff2'),
    url('fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: var(--font-display);
}
